<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>Advanced AngularJS App</title>
    <link rel="stylesheet" href="style.css">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- App JS -->
    <script src="app.js"></script>
</head>

<body ng-controller="todoController">

    <div class="container">
        <app-title></app-title>

        <input type="text" ng-model="newTask" placeholder="Enter task">
        <button ng-click="addTask()">Add</button>

        <!-- Filter Buttons -->
        <br><br>
        <button ng-click="filterStatus='all'">All</button>
        <button ng-click="filterStatus='completed'">Completed</button>
        <button ng-click="filterStatus='pending'">Pending</button>

        <ul>
            <li ng-repeat="task in tasks | filter:taskFilter">
                <span ng-click="toggleTask(task)"
                      ng-class="{'done': task.done}">
                      {{task.name}}
                </span>
                <button ng-click="deleteTask($index)">X</button>
            </li>
        </ul>

        <p>Total: {{tasks.length}}</p>
    </div>

</body>
</html>